{% extends "base.html" %} {% block content %}
<h1 class="comicTitle">Comic List</h1>
<input type="text" id="filterInput" placeholder="Filter by state...">

<div class="grid-body">
    {% for comic in spidermancomics %}
    <div class="photogroup" data-state="{{comic.issuenumber}}">
        <img class="hover-image" src="{{comic.img_path}}.{{comic.img_extension}}" alt="Marvel Image">
        <div class="comicDetails">
            <div class="hidden-div">{{comic.state}}</div>
            {{ comic.title }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

