{% extends "base.html" %} {% block content %}
<h1 class="comicTitle">Comic List</h1>
<input type="text" id="filterInput" placeholder="Filter by state...">

<div class="grid-body">
    {% for comic in spidermancomics %}
    <div class="photogroup" data-state="{{comic.state}}">
        <div class="flipper">
            <img class="image-front" src="{{comic.img_path}}.{{comic.img_extension}}" alt="Marvel Image">
            <div class="image-back">
                <div>       
                    <form id="stateForm" method="POST" action="/comiclist/">  
                        {% csrf_token %}  
                        <input type="hidden" name="comic_id" value= {{ comic.comicid }}>
                        <div>
                            <select name="new_state">
                                <option value="None" {% if comic.state == 'None' %} selected {% endif %}>None</option>
                                <option value="Damaged" {% if comic.state == 'Damaged' %} selected {% endif %}>Damaged</option>
                                <option value="Owned" {% if comic.state == 'Owned' %} selected {% endif %}>Owned</option>
                            </select>  
                        </div>
                        <button type="submit" id="submitButton">Update!</button>  
                    </form>  
                </div>
                <div>
                    Issue No: #{{comic.issuenumber}}
                </div>
                <div>
                    Series Year: {{comic.series_year}}
                </div>
                <div>
                    Comic Id: {{comic.comicid}}
                </div>
            </div>
        </div>
        <div class="comicDetails">
            {{ comic.title }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

